PW Skills Master Class 2.0- Assignment 01

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [5]:
string="hi im shahil"
print(string)
type(string)

hi im shahil

str

In [6]:
list=[1,2,3,"numbers",1.32,"shahil"]
print(list)
type(list)

[1, 2, 3, 'numbers', 1.32, 'shahil']

list

In [7]:
float=12.345
type(float)

float

In [8]:
tuple=(1,2,3,"hello",23.4,"hello again")
print(tuple)
type(tuple)

(1, 2, 3, 'hello', 23.4, 'hello again')

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [11]:
var1 = ''
type(var1)

str

In [12]:
 var2 = '[ DS , ML , Python]'
type(var2)

str

In [14]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [15]:
var4=1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [18]:
#"/" is division operator which returns the quotient value along with float point value.

a=10
b=5
c=a/b
print(c)

2.0

In [19]:
# "%" modulus operator is which returns the remainder value in any  division operation.

c=a%b
print(c)

0

In [4]:
# "//" floor divison operator use to return the quotient of division as an integer, neglecting the decimal part

a=7 
b=2      #here if we had used "/" operator then the result would have been "3.5"
c=a//b
print(c)

3

In [1]:
# "**" this operator use to perform exponentiation which raises the left operand to the power of the right operand

a=10
b=5
c=a**b
print(c)

100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [3]:
list=[1,2,3,'hello',22.34,3,'stop',-88,True,False]

for items in list:
    print(items,type(items))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
hello <class 'str'>
22.34 <class 'float'>
3 <class 'int'>
stop <class 'str'>
-88 <class 'int'>
True <class 'bool'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [15]:
a = int(input("Enter the first number (dividend): "))
b = int(input("Enter the second number (divisor): "))

c=a # storing the inital input value so that we can print it afteward
# the need of "c" variable because during the loop process the intial value will be change 
# Initialize a count variable to keep track of how many times "a" is divisible by "b"
count = 0

# Use a while loop to keep dividing "a" by "b" until it is no longer divisible
while a % b == 0:
    a /= b
    count += 1

# Check if "a" is completely divisible by "b"
if count > 0:
    print(f"{c} is divisible by {b} and can be divided {count} times.")
else:

    print(f"{a} is not divisible by {b}.")

Enter the first number (dividend):  200
Enter the second number (divisor):  2

200 is divisible by 2 and can be divided 3 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [9]:
# Create a list containing 25 integer type data
l=list(range(25))
print(l)
i=0
for i in l:
    # Check if the element is divisible by 3 using the modulo operator (%)
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
0 is divisible by 3
1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.


Immutable data types are those whose values cannot be changed after they are created. Once an immutable object is created, any changes made to it will result in the creation of a new object. Some examples of immutable data types in Python include:

int
float
complex
bool
str
tuple
frozenset

In [11]:
# Define a string
string= "hello"

# Try to change a character in the string
string[0] = "H"

print(string)  #it will give an error

TypeError: 'str' object does not support item assignment

When we run this code, we get an error message saying "TypeError: 'str' object does not support item assignment". This is because strings in Python are immutable, and so we cannot change a character in the string once it is created

Mutable data types are those whose values can be changed after they are created. When a mutable object is changed, the changes are reflected in the original object. Some examples of mutable data types in Python include:

list
dict
set

In [12]:
# Define a list
list = [1, 2, 3]

# Change the second element in the list
list[1] = 4

# Print the list to see the result
print(list)

[1, 4, 3]

When we run this code, we see that the second element in the list is changed from 2 to 4. This is because lists in Python are mutable, and so we can change the value of an element in the list after it is created.