# Assignment_13 (Pandas_2)

## Q1. List any five functions of the pandas library with execution.

Pandas is a powerful data manipulation and analysis library for Python, offering a wide range of functions. Here are five commonly used functions, along with examples of their usage:

### 1. `read_csv()`
Reads a CSV file into a DataFrame.

In [2]:

import pandas as pd

# Example CSV data
csv_data = """Name, Age, City
Alice, 30, New York
Bob, 25, Los Angeles
Charlie, 35, Chicago"""
# Save CSV data to a file
with open('username.csv', 'w') as file:
    file.write(csv_data)

# Read CSV file into a DataFrame
df = pd.read_csv('username.csv')
df

      Name   Age          City
0    Alice    30      New York
1      Bob    25   Los Angeles
2  Charlie    35       Chicago

### 2. `head()`
Returns the first n rows of the DataFrame.

In [4]:

df.head(2)  # Display the first 2 rows

    Name   Age          City
0  Alice    30      New York
1    Bob    25   Los Angeles

### 3. `describe()`
Generates descriptive statistics for the DataFrame.

In [8]:
df.describe()  # Summary statistics for numerical columns

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

### 4. `groupby()`
Groups DataFrame using a mapper or by a Series of columns.

In [7]:
# Group by a column and calculate the mean
grouped_df = df.groupby("Name")

grouped_df

for x,y in grouped_df:
    print(x)
    print(y)

Alice
    Name   Age       City
0  Alice    30   New York
Bob
  Name   Age          City
1  Bob    25   Los Angeles
Charlie
      Name   Age      City
2  Charlie    35   Chicago

### 5. `merge()`
Merges DataFrame objects by performing a database-style join operation.

In [13]:
# Example DataFrame 1
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

# Example DataFrame 2
df2 = pd.DataFrame({
    'ID': [1, 2, 4],
    'Age': [30, 25, 40]
})

# Merge the two DataFrames on 'ID'
merged_df = pd.merge(df1, df2, on='ID', how='inner')
merged_df

   ID   Name  Age
0   1  Alice   30
1   2    Bob   25

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [2]:
import pandas as pd
data = {
  "A": ["Alice","Bob","Claire"],
  "B": [25, 30, 27],
    "C": ["Female", "Male", "Female"]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

        A   B       C
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [25]:
import pandas as pd

def sum_first_three(df):
    # Ensure there are at least three values in the DataFrame
    if len(df['Values']) < 3:
        print("Not enough values in the 'Values' column.")
        return

    # Calculate the sum of the first three values
    result = df['Values'].head(3).sum()

    # Print the result
    print(f"The sum of the first three values is: {result}")

# Example usage
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
print(df)

sum_first_three(df)

   Values
0      10
1      20
2      30
3      40
4      50
The sum of the first three values is: 60

Explanation:
The head(3) function retrieves the first three rows in the 'Values' column.
The sum() function then calculates the sum of those values.
If there are fewer than three rows, the function prints a message.

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column in a Pandas DataFrame:

In [4]:
import pandas as pd

def add_word_count(df):
    # Create a new column 'Word_Count' that calculates the number of words in each 'Text' row
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

# Example usage
data = {'Text': ['This is the first sentence.', 'Here is another one.', 'Pandas is great for data manipulation.']}
df = pd.DataFrame(data)

add_word_count(df)
print(df)

                                     Text  Word_Count
0             This is the first sentence.           5
1                    Here is another one.           4
2  Pandas is great for data manipulation.           6

###  Explanation:
* The apply() function applies a lambda function to each element in the 'Text' column.
* The split() method splits each text string into words (by spaces) and the len() function counts the number of words.
* The str(x) ensures that the value is treated as a string in case there are any non-string values.

## Q5. How are DataFrame.size() and DataFrame.shape() different?

The difference between `DataFrame.size` and `DataFrame.shape` in Pandas lies in the type of information they return about the DataFrame:

### 1. `DataFrame.size`
- **Definition**: This returns the total number of elements (cells) in the DataFrame.
- **Calculation**: It is the product of the number of rows and the number of columns.
- **Type of Value**: A single integer.

For example, if a DataFrame has 3 rows and 4 columns, the size would be `3 * 4 = 12`.

```python
df.size
```

### 2. `DataFrame.shape`
- **Definition**: This returns a tuple representing the dimensions of the DataFrame.
- **Output**: It gives the number of rows and columns in the format `(rows, columns)`.
- **Type of Value**: A tuple `(rows, columns)`.

For example, if a DataFrame has 3 rows and 4 columns, the shape would be `(3, 4)`.

```python
df.shape
```

### Summary:

- `DataFrame.size`: Total number of elements (rows * columns).
- `DataFrame.shape`: Number of rows and columns as a tuple `(rows, columns)`.

### Example:

In [9]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

print(df)
print()
print("DataFrame size:", df.size)    # Output: 9
print("DataFrame shape:", df.shape)  # Output: (3, 3)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

DataFrame size: 9
DataFrame shape: (3, 3)

In this example:
- `df.size` is `9` (since there are 3 rows and 3 columns, resulting in 9 cells).
- `df.shape` is `(3, 3)` (indicating 3 rows and 3 columns).

## Q6. Which function of pandas do we use to read an excel file?

In Pandas, the function used to read an Excel file is `pandas.read_excel()`.

### Syntax:
```python
pandas.read_excel(io, sheet_name=0, ...)
```

### Key Parameters:
- **`io`**: The file path or URL of the Excel file to be read.
- **`sheet_name`**: The name or index of the sheet to read (default is the first sheet, i.e., index `0`). You can also use `sheet_name=None` to load all sheets.
  
### Example:

In [20]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data)

# Generating an Excel file with the DataFrame
df.to_excel('sample_excel_file.xlsx', index=False)

In [23]:
import pandas as pd

# Reading a specific sheet (by index)
df = pd.read_excel('sample_excel_file.xlsx', sheet_name=0)

# Reading by sheet name
df = pd.read_excel('sample_excel_file.xlsx', sheet_name='Sheet1')

# Reading all sheets as a dictionary of DataFrames
dfs = pd.read_excel('sample_excel_file.xlsx', sheet_name=None)
print(dfs)

{'Sheet1':    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9}

### Notes:
- You need to have the **`openpyxl`** or **`xlrd`** library installed, depending on the file format and version you're working with (`.xlsx` for `openpyxl`, `.xls` for `xlrd`).

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

Python function that creates a new column 'Username' in the DataFrame df, which extracts the username part (before the @) from the email addresses in the 'Email' column:

In [24]:
import pandas as pd

def extract_username(df):
    # Split the 'Email' column at '@' and take the first part (username)
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])

# Example usage
data = {'Email': ['john.doe@example.com', 'alice.smith@company.com', 'bob.jones@domain.org']}
df = pd.DataFrame(data)

extract_username(df)
print(df)

                     Email     Username
0     john.doe@example.com     john.doe
1  alice.smith@company.com  alice.smith
2     bob.jones@domain.org    bob.jones

### Explanation:
The `apply()` function is used to apply a lambda function to each value in the 'Email' column.
The `split('@')[0])` splits the email address at the `@` symbol and retrieves the first part (i.e., the username).

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

- For example, if df contains the following values:
|A | B | C |
|--|---|---|
0 |3 | 5| 1|
1 |8 |2 |7
2 |6 |9 |4
3 |2 |3 |5
4 |9 |1 |2

Python function that selects all rows where the value in **column 'A'** is greater than * 5 * and the value in **column 'B'** is less than **10**, and returns a new DataFrame containing only the selected rows:

In [ ]:
import pandas as pd

def filter_dataframe(df):
    # Select rows where column 'A' > 5 and column 'B' < 10
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return filtered_df

# Example usage
data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

filtered_df = filter_dataframe(df)
print(filtered_df)

### Explanation:
- The function uses Boolean indexing to filter the DataFrame.
- The condition `df['A'] > 5` selects rows where the value in column `'A'` is greater than `5`.
- The condition `df['B'] < 10` selects rows where the value in column `'B'` is less than `10`.
- The `&` operator is used to combine both conditions.